<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Test suite">
    <test name="Login page test">
        <groups>
            <run>
                <include name="Group1 For Presentation"/>
                <include name="Group2 For Presentation"/>
                <include name="Group3 For Presentation"/>
            </run>
        </groups>
        <classes>
            <class name="LogInPageTest"/>
            <class name="HomePageTest"/>
            <class name="CartPageTest"/>
        </classes>
    </test>

</suite>